<div class="hamburger">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</div>

<div>
  <ul class='nav-menu'>
    <ul class='nav-item'>
      <%= link_to 'Javascript', sessions_create_path(lang: 'Javascript'), method: 'post' %><br>
      <%= link_to 'Html', sessions_create_path(lang: 'Html'), method: 'post' %><br>
      <%= link_to 'Ruby', sessions_create_path(lang: 'Ruby'), method: 'post' %><br>
      <%= link_to 'Rails', sessions_create_path(lang: 'Rails'), method: 'post' %><br>
      <%= link_to 'Css', sessions_create_path(lang: 'Css'), method: 'post' %><br>
      <%= link_to 'General Programming', sessions_create_path(lang: 'General Programming'), method: 'post' %>
    </ul>
  </ul>
</div>
